<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

</head>

<body class="article-pg">
   


    <div class="container-fluid ar-content">
        <div class="container">
           
                <div class="row">
                <div class="">
                    <div class="card ar-img-over">
                        <img class="card-img" src="~/Content/images/tienda_camisas.jpg" alt="">
                        <div class="card-img-overlay">
                            <a href="#" class="d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/full-screen.png" alt="">
                            </a>
                        </div>
                    </div>



                    <h2>Visita nuestra tienda de recuerdos</h2>
                    <p>
                       Para que no solo se vaya con las emociones que preparamos para usted, si no tambien un recuerdo de su aventura en san carlos, 
                        en nuestra tienda encontrara gran diversidad de productos..
                    </p>

                  

                    <div class="comment-section mt-5">
                        <h3>Comentarios</h3>
                        <hr class="ml-0" />
                        <div class="media pt-5">
                            <div class="card mr-4">
                                <img src="assets/images/comment-user1.png" alt="" class="card-img">
                                <div class="card-img-overlay">

                                </div>
                            </div>

                            <div class="media-body">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4>John Deo</h4>
                                    </div>
                                    <div class="col text-right">
                                        <p class="my-0">
                                            <span>Add 11 Oct 2016</span> <a href="#" class="ml-3">Reply</a>
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et
                                    tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia
                                    nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices sit amet cursus
                                    vitae, fermentum nec turpis.
                                </p>
                                <div class="media py-5 mt-5 both-border">
                                    <div class="card mr-4">
                                        <img src="assets/images/comment-user2.png" alt="" class="card-img">
                                        <div class="card-img-overlay">

                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col text-left">
                                                <h4>Jen Smith</h4>
                                            </div>
                                            <div class="col text-right">
                                                <p class="my-0">
                                                    <span>Add 11 Oct 2016</span> <a href="#"
                                                                                    class="ml-3">Reply</a>
                                                </p>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla
                                            massa et tristique convallis. Class aptent taciti sociosqu ad litora
                                            torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem,
                                            ultrices sit amet cursus vitae, fermentum nec turpis.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="media py-5 bottom-border">
                            <div class="card mr-4">
                                <img src="assets/images/comment-user3.png" alt="" class="card-img">
                                <div class="card-img-overlay">

                                </div>
                            </div>

                            <div class="media-body">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4>John Deo</h4>
                                    </div>
                                    <div class="col text-right">
                                        <p class="my-0">
                                            <span>Add 11 Oct 2016</span> <a href="#" class="ml-3">Reply</a>
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et
                                    tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia
                                    nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices sit amet cursus
                                    vitae, fermentum nec turpis.
                                </p>

                            </div>
                        </div>


                    </div>
                    <div class="comment-form my-5 pt-5">
                        <h3>Add Comments</h3>
                        <hr class="ml-0" />
                        <hr class="s-br" />
                        <table class="table table-borderless mt-4">
                            <tr>
                                <td><input type="text" class="form-control" placeholder="Name" /></td>
                                <td><input type="email" class="form-control" placeholder="Email" /> </td>
                                <td><input type="url" class="form-control" placeholder="Website" /> </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <textarea class="form-control" placeholder="Your comment"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button class="btn text-uppercase ml-auto d-block">Add Comment</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            
            </div>
        
    </div>


    <div class="container-fluid jumbotron-fluid stay mt-5 pt-5 pb-5">
        <h2 class="text-center">Registrate Aqui</h2>
        <p class="text-center mt-2">Registrate para poder comentar.</p>
        <div class="input-group mt-4 mx-auto" style="max-width: 640px">
           
            <div class="" style="position:center">
                <button class="btn btn-success ml-2" style="margin-left: 14.5rem!important;" type="submit">SIGN UP</button>
            </div>
        </div>
    </div>


    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/jquery-1.12.0.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/article.js"></script>



</body>

</html>